<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
                I am going on my 3rd year of experience as a Software Engineer, since graduating from the University
                of North Texas as a Computer Science student. My stack specialties are mostly in the backend with .Net, Java,
                and NodeJS, but I do have full-stack experience with VueJS, Aurelia and Android development.
                Lately, I've been focusing my time and effort on blockchain and decentralized web technologies.
        </p>
        <p>
            I current work at a blockchain credentialing company called <a href="https://www.learningmachine.com">Learning Machine</a>,
            but I love architecting a wide range of personal projects/apps such as photo sharing, contacts apps on Blockstack,
            and other proof of concepts revolving around decentralization and self-sovereignty. I have been a public speaker on
            blockchain and decentralization for over a year now in Dallas, and enjoy picking brains and prototyping concepts with
            fellow technologists.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
                <li>
                    Prototyped/researched integration efforts with other popular decentralized credentialing
                    technologies such as <a href="https://www.uport.me">uPort</a> and <a href="https://github.com/WebOfTrustInfo/rwot7/blob/master/draft-documents/ipld_did_documents.md">IPLD</a>.
                </li>
              <li>
                  Helps maintain <a href="https://www.blockcerts.org">Blockcerts</a> and recently added Ethereum support.
              </li>
    			<li>
                    Presented numerous times over topics such as <a href="https://www.meetup.com/Dallas-Bitcoin-Developers/events/248649662/">Bitcoin Lightning</a>, <a href="https://www.youtube.com/watch?v=ZO1qqnruuKs">Mining</a>, <a href="https://bcen.io/bcen-crypto-reports-ep-4-monero/">Monero</a>, and <a href="https://www.youtube.com/watch?v=_U3ywz42yOU">Nano</a>.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
