<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Decentralized Identifiers</b>. Using <a href="https://w3c-ccg.github.io/did-spec/">DIDs</a> to provide self-sovereignty as a form of logging in and validating users.
			  </li>
			  <li>
				  <b>Longboarding</b>. While I may not be the best at it, nothing beats cruising around on a longboard without a care in the world.
			  </li>
			  <li>
				  <b>Doge</b>. Nothing beats my dog <a href="https://www.instagram.com/p/BkiUznkgs8l/">Smokey</a>.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Working on a decentralized contacts app built on top of blockstack.
    		</li>
  			<li>
          Implementing a PGP sharing system built on top of Decentralized Identifiers
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
				Volunteering for the nonprofit <a href="https://bcen.io"> Blockchain and Crypto Education Network</a>
  			</li>
  			<li>
  			  Contributing to the W3C Verifiable Credentails group via hackathons and conferences to help solidify and standardize decentralized identifiers.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
